<section class="p-8">
  <div class="flex items-center w-full h-32">
    <h2 class="text-2xl font-semibold text-green-600">
      Dashboard
    </h2>
  </div>
  <div>
    <button phx-click="teste">
      teste
    </button>
  </div>

  <div class="flex flex-col gap-4 mb-4">
    <div class="flex flex-row flex-wrap gap-4">
      <%= for course <- @courses do %>
        <.card course={course}></.card>
      <% end %>
    </div>
  </div>
</section>
